doctype html
html.no-js(lang="en-gb")
    head
        meta(charset="utf-8")
        title James King Web Developer
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="title", content="James King Web Developer")
        meta(name="description", content="A full-stack web developer from the West Midlands. Skills include Laravel, PHP, Linux servers and much more. Available for hire for your next big thing.")
        link(rel="shortcut icon", href="#{gravatar}?s=32")
        link(rel="apple-touch-icon", href="#{gravatar}?s=57")
        link(rel="apple-touch-icon", sizes="72x72", href="#{gravatar}?s=72")
        link(rel="apple-touch-icon", sizes="114x114", href="#{gravatar}?s=114")
        link(rel="stylesheet", href="app.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700", rel="stylesheet", type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,200,400italic,600,600italic", rel="stylesheet", type="text/css")
        <!--[if lt IE 9 ]><script src="js/respond.min.js"><![endif]-->
        script(type="text/javascript", src="modernizr.min.js")
        script(type="text/javascript", src="#{trustpilot.script}")
        script.
            window.smartlook||(function(d) {
            var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
            var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
            c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
            })(document);
            smartlook('init', 'a9f30291663c8ad4a22a8e59d47057bd92dac4e6');
    body(data-spy="scroll", data-target="#main-nav", data-offset="400")
        include googleAnalytics
        include navigation
        include jumbo
        include services
        //- include featured-project
        include about-me
        include skills
        //- include portfolio
        //- include shots
        include contact
        include footer
