if trustpilot.enabled
    div.trustpilot-widget(
    data-locale="en-GB",
    data-template-id="#{trustpilot.templateId}",
    data-businessunit-id="#{trustpilot.businessId}",
    data-style-height="20px",
    data-style-width="100%",
    data-theme="light")
        a(href="#{trustpilot.url}")
            | Trustpilot